<div class="active-friend">
  <div class="image-active-icon">
    {{#each activeFriends as |friend|}}
      <div class="image">
        <img src="./style/images/{{friend.userInfo.profile_pic_path}}" alt="" />
        <div class="active-icon"></div>
      </div>
    {{/each}}

  </div>

</div>