<div class="friend-flex">

  <div class="friend-flex-image">
    <div class="image">
      <img
        id="friend-flex-img"
        src="./style/images/{{profile_pic_path}}"
        alt=""
      />
    </div>
  </div>

  <div class="friend-flex-name-seen">
    <div class="friend-flex-name">
      <h4>{{username}}</h4>
    </div>
  </div>

</div>