<div class="friend-info">
  <div class="friend-image-name">
    <div class="image">
      <img src="./style/images/{{pic}}" alt="" />
    </div>
    <div class="active-user">
      {{#if aStatus}}
        Active
      {{/if}}
    </div>
    <div class="friend-name">
      <h4>{{name}}</h4>
    </div>

  </div>

</div>